.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  .prev {
    transform: rotate(180deg);
    margin-right: 20px;
  }
  .prev, .next {
    cursor: pointer;
  }
  .noAllowed {
    opacity: .3;
    cursor: default;
  }
  .page {
    font-weight: 300;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
  }
  .selected {
    border: 3px solid red;
    color: red;
    font-weight: bold;
    opacity: 1;
  }
  .visited {
    opacity: 1;
    font-weight: 500;
  }
}

/////////

.paginationContainer {
  display: flex;
  list-style-type: none;
  margin: auto;
  margin-bottom: 50px;
  .paginationItem {
    padding: 5px 10px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 50%;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      border: 3px solid red;
      color: red;
      font-weight: bold;
      opacity: 1;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}