.detail {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation: show .5s forwards;
  overflow-y: overlay;
  .close {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    height: 180px;
  }
  .article {
    margin-top: 180px;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 768px;
    position: relative;
    z-index: 2;
  }
  header {
    width: calc(100% - 20px);
    box-sizing: border-box;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-top: -92px;
    margin-left: 10px;
    margin-right: 10px;
    .information {
      color: #fff;
      border-radius: 0 0 15px 15px;
      height: 70px;
      width: 100%;
      padding: 10px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      display: block;
      z-index: 2;
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        margin-left: 5px;
      }
      .positionSign {
        position: absolute;
        top: 15px;
        right: 15px;
      }
      .price {
        margin: 0;
        margin-left: 5px;
        margin-top: 5px;
        position: absolute;
        bottom: 40px;
        right: 15px;
      }
    }
  }
  .gallery {
    width: 100%;
    display: flex;
    margin: 30px 0;
    box-sizing: border-box;
    padding: 0 15px;
    justify-content: space-between;
    position: relative;
    .item {
      width: 30%;
      border-radius: 15px;
      padding: 0 10px;
      height: 75px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
    .imgSelected {
      border: 3px solid #027A97;
      box-shadow: 5px 5px 10px #d4d4d4,
        -5px -5px 10px #fff;
    }
    &::after{
      position: absolute;
      content: "";
      border: 1px solid #d4d4d4;
      bottom: -30px;
      transform: translateX(-50%);
      left: 50%;
      width: calc(100% - 30px);
    }
  }
  .content {
    margin: 0 15px;
    padding: 30px 0;
    .book {
      width: 100%;
      height: 50px;
      background-color: #E00707;
      color: white;
      font-size: 24px;
      border: none;
      cursor: pointer;
      box-shadow: 5px 5px 10px #d4d4d4,
        -5px -5px 10px #fff;
      &.showPhone {
          background-color: #fff;
          color: #000;
          box-shadow: none;
          cursor: default;
        }
    }
    .location {
      position: relative;
      
      h3 {
        width: 100%;
      }
      .map {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px #fff;
        max-width: 345px;
        width: 100%;
        margin: auto;
      }
      .hours {
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 25px;
        box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px #fff;
        border: 1px solid #d4d4d4;
        width: 100%;
        max-width: 345px;
        margin: auto;
        margin-top: 20px;
        table {
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          .isOpenToday {
            color: #008055;
          }
          .isClosedToday{
            color: #E00707;
          }
          td:first-child {
            font-weight: bold;
          }
          td:nth-child(2) {
            position: relative;
            &::after {
              content: "-";
              position: absolute;
              right: -13px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          td:nth-child(1n+2) {
            text-align: right;
          }
        }
      }
      .infoAddress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        .getDirection {
          color: #fff;
        }
        .address p:first-child{
          color: #00CDFF;
          font-weight: bold;
          margin: 0;
          margin-bottom: 10px;
        }
        .address p:last-child {
          margin: 0;
        }
      }
      &::after {
        position: absolute;
        content: "";
        border: 1px solid #d4d4d4;
        bottom: -30px;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
      }
    }
    .reviews {
      margin-top: 60px;
      .review {
        display: block;
        margin-bottom: 25px;
        .user {
          display: flex;
          align-items: center;
          .portrait {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin-right: 15px;
            position: relative;
            overflow: hidden;
          }
          .rating {
            display: block;
            .userName {
              margin: 0;
              padding: 0;
              font-size: 20px;
              font-weight: 600;
              margin-left: 5px;
            }
          }
        }
        .comment {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
}

@media (min-width: 575px) {
  .detail {
    .article {
      .header {
        height: 300px;
      }
      .gallery {
        .item {
          height: 90px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .detail {
    .article {
      margin-top: 168px;
      border-radius: 30px 30px 0 0;
      .header {
        height: 400px;
        margin-top: -80px;
        .information {
          height: 100px;
          position: relative;
          .positionSign {
            top: 5px;
          }
          .price {
            position: relative;
            right: initial;
            bottom: initial;
            margin-left: 5px;
          }
        }
      }
      .gallery {
        .item {
          height: 100px;
        }
      }
      .content {
        .location {
          display: flex;
          flex-wrap: wrap;
          .book {
            order: 4;
            width: 345px;
            position: absolute;
            right: 10px;
            bottom: 5px;
          }
          .map {
            width: calc(50% - 5px);
            max-width: none;
            height: 300px;
          }
          .hours {
            margin-top: 0;
            margin-left: 10px;
            
          }
        }
      }
    }
  }
}