.filter {
  position: fixed;
  top: 88px;
  right: 100%;
  background: #fff;
  width: 100%;
  height: calc(100vh - 88px);
  transform: translateX(-100%);
  z-index: 2;
  padding: 30px 20px;
  font-size: 16px;
  overflow: scroll;
  transition: .3s all;
  &.isSearchMobileOpen {
    transform: translateX(0);
  }
  .title {
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .clear {
    padding: 0;
    margin: 0;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #027A97;
    cursor: pointer;
    width: fit-content;
  }
  .prices {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    :first-child {
      border-radius: 15px 0 0 15px;
      border-right: none;
    }
    :last-child {
      border-radius: 0 15px 15px 0;
      border-left: none;
    }
    p {
      padding: 10px 20px;
      border: 1px solid #d4d4d4;
      margin: 0;
      user-select: none;
      cursor: pointer;
    }
    .priceSelected {
      color: #027A97;
      border: 1px solid #027A97;
      background-color: rgba(18, 106, 128, 0.1);
    }
  }
  .suggested {
    padding: 20px 0;
    margin: 20px 0;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-right: none;
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      label {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
          .check {
            background-color: #d4d4d4;
          }
        }
        input {
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
          &:checked ~ .check {
            background-color: #027A97;
          }
          &:checked ~ .check::after {
            display: block;
          }
        }
        .check {
          position: absolute;
          top: 2px;
          left: 0;
          width: 20px;
          height: 15px;
          background-color: #fff;
          border: 1px solid #d4d4d4;
          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 2px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .categories {
    position: relative;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .more {
      position: absolute;
      font-size: 26px;
      font-weight: bold;
      color: #027A97;
      top: 0;
      right: 0;
      line-height: 0;
      cursor: pointer;
    } 
    .tagContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      height: 75px;
      cursor: pointer;
      .tag {
        margin: 0;
        padding: 5px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        width: fit-content;
        user-select: none;
        border: 1px solid #d4d4d4;
        &:hover {
          background-color: #d4d4d4;
        }
        &.selected {
          background-color: #027A97;
          color: #fff;
        }
      }
      &.showMore {
        height: fit-content;
      }
    }
  }
  .range {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
    &.thereIsDistance{
      &::after {
        background-color: #027A97;
      }
    }
    &.option0 {
      .car {
        left: 10%;
      }
    }
    &.option1 {
      .car {
        left: 30%;
      }
    }
    &.option2 {
      .car {
        left: 50%;
      }
    }
    &.option3 {
      .car {
        left: 70%;
      }
    }
    &.option4 {
      .car {
        left: 90%;
      }
    }
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #d4d4d4;
      z-index: 0;
    }
    .car {
      position: absolute;
      transition: .5s all;
      left: -40px;
      top: calc(50% - 15px);
      z-index: 0;
      transform: translateY(-50%) translateX(-50%);
    }
    .point {
      width: 20%;
      height: 100px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
      background-color: transparent;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid #d4d4d4;
        position: absolute;
        top: calc(50% + 15px);
        transition: .3s all;
        transform: translateY(-50%) rotate(180deg);
      }
      p {
        position: absolute;
        bottom: 0;
        margin: 0;
        user-select: none;
      }
      &.selected {
        &::before {
          border-top-color: #027A97;
        }
      }
    }
  }
  .button {
    margin: auto;
    border: 3px solid #d4d4d4;
    color: #000;
    background-color: #fff;
    padding: 5px 40px;
    border-radius: 15px;
    display: flex;
    font-weight: bold;
    margin-top: 40px;
  }
  .showResultsMobile {
    display: flex;
    position: absolute;
    top: 15px;
    right: 20px;
    .businessQuantity{
      padding-left: 5px;
    }
  }
  .loading {
    padding: 0 !important;
    
  }
}



@media (min-width: 992px) {
  .filter {
    display: block;
    width: 100%;
    max-width: 375px;
    position: absolute;
    padding-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    top: 25px;
    margin-top: 30px;
    left: 0;
    overflow-y: scroll;
    margin-left: 20px;
    transform: translateX(0);
    height: calc(100vh - 120px);
    max-height: 700px;
    margin-left: 20px;
    margin-top: 10px;
    .showResultsMobile {
      display: none;
    }
    .button {
      display: none;
    }
  }
  .placeHolder {
    width: 100%;
    max-width: 395px;
    display: block;
    padding: 30px 20px;
    position: relative;
  }
  
  
}