.content {
  display: flex;
  justify-content: center;
  .contentContainer {
    display: flex;
    justify-content: flex-end;
  }
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.isSearchMobileOpen {
  display: none;
}

@media (min-width: 992px) {
  .isSearchMobileOpen {
    display: flex;
  }
}
